
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3b7fb9;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h2 {
  margin: 0;

}

.App-intro {
  font-size: large;
}

#Header {
  background-color: #3b7fb9;
  color: white;

}

#Header h2 {
  font-family: 'Barrio', cursive;
  margin-left: 20px;
}
/*===============================================================*/
/*CONTAINER*/
/*===============================================================*/
#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


/*===============================================================*/
/*SEARCH*/
/*===============================================================*/
#searchDiv {
  /*min-height: 70px;*/
  /*margin-top: 50px;
  margin-bottom: 50px;*/
}

#searchBar {
  width: 300px;
}

/*===============================================================*/
/*YOUTUBE*/
/*===============================================================*/
#YoutubeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  /*max-height: 350px;
  overflow-y: scroll;*/
}

#youtubeTab {
  color: #cc181e;
}

#youtubeHeading {
  font-family: 'Roboto', sans-serif;
  color: #cc181e; /* Youtube Red */
  /*-ms-transform: rotate(-90deg); /* IE 9 */
  /*-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  /*transform: rotate(-90deg);*/

}

#YoutubeContainer .card {
  display: inline-block;
  margin: 10px 10px;
}

.youtubeVideo {
  display: inline-block;
  margin: 10px 10px;
}

.youtubeThumbnail{
  max-width: 100%;
}

/*===============================================================*/
/*WOLFRAM ALPHA*/
/*===============================================================*/
#WolframContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  /*background-color: #f1f1f1;*/
  /*max-height: 700px;*/
  /*overflow-y: scroll;*/
}

#WolframContainer .items .item .image {
  width: auto;
  margin-left: 10px;
}

#wolframHeading {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ff7e00; /* Wolfram Alpha Orange */
  /*-ms-transform: rotate(-90deg); /* IE 9 */
  /*-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  /*transform: rotate(-90deg);*/

}

/*===============================================================*/
/*FOOTER*/
/*===============================================================*/

#Footer {
  min-height: 150px;
  background-color: #3b7fb9;
  font-size: 20px;
}
#portfolioLink {
  color: white;
}

#portfolioLink:hover {
  color: black;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
